python-dateutil==2.9.0.post0
aiogram==3.22.0
aiosmtplib==4.0.2
aiosqlite==0.21.0
apscheduler==3.11.0
beautifulsoup4==4.14.0
matplotlib==3.10.6
pdfminer-six==20250506
prettytable==3.16.0
pdf2image==1.17.0
pdfplumber==0.11.7
phonenumbers==9.0.15
pytesseract==0.3.13
python-dotenv==1.1.1
requests==2.32.5
workalendar==17.0.0