phonenumberslite
python-dateutil
aiogram
aiosmtplib
aiosqlite
apscheduler
beautifulsoup4
matplotlib
pdfminer-six
prettytable
pdf2image
pdfplumber
phonenumbers
pytesseract
python-dotenv
requests
workalendar